@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.name {
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    font-family: "Orbitron", sans-serif;
    color: #3b3737; /* 만d치 barva */
    text-shadow: 
        0 0 5px #00eaff, 
        0 0 10px #00eaff, 
        0 0 20px #00eaff, 
        3px 3px 10px rgba(0, 234, 255, 0.3);
}

/* 游 Efekt bu코en칤 srdce */
@keyframes heartbeat {
    0% { transform: translate(-50%, 0) scale(1); text-shadow: 0 0 10px #00eaff; }
    50% { transform: translate(-50%, 0) scale(1.1); text-shadow: 0 0 15px #00eaff, 0 0 30px #00eaff; }
    100% { transform: translate(-50%, 0) scale(1); text-shadow: 0 0 10px #00eaff; }
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.left, .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
}

.left {
    background-image: url(../images/gen8.webp);
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
    color: #00eaff /* B칤l칳 text */
}

.right {
    background-image: url("../images/gen2.webp");
    clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
    color: rgb(223, 223, 223); /* 캛ern칳 text */
}

/* Efekt na hover */
.left:hover, .right:hover {
    transform: scale(1.03);
    filter: brightness(1.2);
}

/* Spole캜n칳 styl textu */
.text {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

/* Specifick칳 styl pro lev칳 text (b칤l칳 s 캜ern칳m obrysem) */
.textLeft {
    text-shadow: 
    -2px -2px 0px black,  
    2px -2px 0px black,   
   -2px  2px 0px black,  
    2px  2px 0px black;
}

/* Specifick칳 styl pro prav칳 text (캜ern칳 s b칤l칳m obrysem) */
.textRight {
    text-shadow:  
         -2px -2px 0px black,  
         2px -2px 0px black,  
        -2px  2px 0px black,  
         2px  2px 0px black; 
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;  /* Zm캩na na sloupcov칠 rozlo쬰n칤 */
    }

    .left, .right {
        width: 100vw;
        height: 50vh;  /* Uprav칤m v칳코ku pro mobiln칤 verze */
        clip-path: polygon(0% 0%, 100% 0, 100% 95%, 0% 100%); /* Z콢st치v치 clip-path na obou kart치ch */
    }

    .right {
        background-image: url("../images/gen2.webp");
        clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0 100%); /* Odsazen칤 horn칤 캜치sti o 1% v칳코ky */
        color: rgb(223, 223, 223); /* 캛ern칳 text */
    }
    .name {
        top: 1%;
    }
}
